@model CafePrado.Models.AddAccountant
@using (Html.BeginForm())
{


    <head>
        <link href="~/Style/Transections.css" rel="stylesheet" />
    </head>

    <div id="interface">
        <h2>ADD Accountant</h2>
        <form>
            <table cellpadding="20">
                <tr>
                    <td>
                        ID:<input type="text" name="AccountantID" />
                    </td>
                    <td>
                        Name:<input type="text" name="AName" />
                    </td>
                    <td>
                        Cell:<input type="text" name="AccountantCell" />
                    </td>

                </tr>
                <tr>
                    <td>
                        Salary:<input type="text" name="AccountantSalary" />
                    </td>
                    <td>
                        Email:<input type="text" name="AEmail" />
                    </td>
                </tr>
            </table>
        </form>
        <table cellpadding="50">
            <tr>
                <td>
                    <input type="submit" name="submit" value="SUBMIT">
                </td>
                <td>
                    <input type="submit" name="submit" value="View All Accountants">
                </td>
            </tr>
        </table>
    </div>

}
