@{
    ViewBag.Title = "About";
}

    <title>@ViewBag.Title   </title>
    <link href="~/Style/LoginStyleSheet.css" rel="stylesheet" />

<body>

    <div class="login-box">
        <img src="~/Graphics/icon-full-register.png" class="avatar">
        <h1>SignUp Here</h1>
        <form>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">

            <p>Re-Enter Password</p>
            <input type="password" name="repassword" placeholder="Re-Enter Password">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
           <input type="checkbox" name="checkbox" checked><p>i agree to the terms and conditions</p>  

            <input type="submit" name="submit" value="Submit">
            
        </form>


    </div>

</body>