@model CafePrado.Models.TakeOrder
@using (Html.BeginForm()){

            <head>
            
                <link href="~/Style/Transections.css" rel="stylesheet" />
            
                <style>
#interface {
            width: 300px;
            }

#full {
            height: auto;
            width: auto;
            background-color: #ff0000;
        }

#button {
        border: none;
            outline: none;
            height: 40px;
            position: center;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
            margin: auto;
        }
    </style>
        
</head>
<div id="full">
    <table cellpadding="30">
        <tr>
            <td>
                <div id="interface">
                    <table>
                        <tr>
                            <td>
                                <h3>Customer Data</h3>
                                <h5>Customer ID:</h5>
                                <div id="combo">
                                    <input type="text" name="CustomerID" list="List">
                                    <datalist id="List">
                                        <option value="Pending"></option>
                                        <option value="Done"></option>
                                    </datalist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Name:
                                <input type="text" name="CustomerName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell No:
                                <input type="text" name="CustomerCell" />
                            </td>
                        </tr>

                    </table>

                </div>


            </td>
            <td>
                <div id="interface">
                    <table>
                        <tr>
                            <td>
                                <h3>Accountant  Data</h3>
                                <h5>Accountant ID:</h5>
                                <div id="combo">
                                    <input type="text" name="AccountantID" list="List">
                                    <datalist id="List">
                                        <option value="Pending"></option>
                                        <option value="Done"></option>
                                    </datalist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Name:
                                <input type="text" name="AccountantName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell No:
                                <input type="text" name="AccountantCell" />
                            </td>
                        </tr>

                    </table>

                </div>
            </td>
            <td>
                <div id="interface">
                    <table>
                        <tr>
                            <td>
                                <h3>Item Data</h3>
                                <h5>Item ID:</h5>
                                <div id="combo">
                                    <input type="text" name="itemID" list="List">
                                    <datalist id="List">
                                        <option value="Pending"></option>
                                        <option value="Done"></option>
                                    </datalist>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Item Name:
                                <input type="text" name="itemName" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Quantity
                                <input type="text" name="itemQuantity" />
                            </td>
                        </tr>
                    </table>
                </div>

        </tr>

    </table>
    <div id="button">
        <table>
            <tr>
                <td>
                    <input type="submit" name="ordersubmit" value="SUBMIT">
                </td>
                <td>
                    <input type="submit" name="GridView" value="VIEW GRID">
                </td>

            </tr>
        </table>

    </div>
</div>

}