
@{
    ViewBag.Title = "TakeOrder";
}


    <head>
        <link href="~/Style/Transections.css" rel="stylesheet" />
    </head>
<div id="interface">
    <img src="~/Graphics/avatar.png" class="avatar">
        <h1>TakeOrder</h1>
        
    
    Customer ID:
    <input type="text" name="CustomerID" />

    @*Accountant ID:<div id="combo">
        <input type="text" name="AccountantID" list="List">
        <datalist id="List">
            <option value="asdadsad"></option>
        </datalist>
    </div>*@
    <p>Name:</p>
    <input type="text">
    <p>Cell No:</p>
    <input type="text">
    Status:<div id="combo">
        <input type="text" name="CustomerID" list="List">
        <datalist id="List">
            <option value="Pending"></option>
            <option value="Done"></option>
        </datalist>
    </div>
    <input type="submit" name="submit" value="SUBMIT">
</div>




