@model CafePrado.Models.TakeOrder
 




@using (Html.BeginForm())
{

    <head>
        <link href="~/Style/Transections.css" rel="stylesheet" />
    </head>
    <div id="interface">
    <h2>TAKE ORDER  FROM CUSTOMER</h2>
        <table cellpadding="20">
            <tr>
                <td>
                    Customer ID:
                    <input type="text" name="CustomerID" maxlength="5" />
                </td>
                <td>
                    <h5>Accountant ID:</h5>
                    <div id="combo">
                        <input type="text" name="AccountantID" list="List">
                        <datalist id="List">
                            <option value="asdadsad"></option>
                        </datalist>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Name:</h5>
                    <input type="text" name="Name">
                </td>
                <td>
                    <h5>Name:</h5>
                    <input type="text" name="AccountantName" />
                </td>
            </tr>
            <tr>
                <td>
                    <h5>Cell No:</h5>
                    <input type="text" name="CellNo">
                </td>
                <td>
                    <h5>Cell NO:</h5>
                    <input type="text" name="AccountantCellNo" />
                </td>
               
            </tr>
            <tr>
                <td>
                    <h5>Status:</h5><div id="combo">
                        <input type="text" name="Status" list="List">
                        <datalist id="List">
                            <option value="Pending"></option>
                            <option value="Done"></option>
                        </datalist>
                    </div>
                </td>
                <td>
                    <h5>items:</h5><div id="combo">
                        <input type="text" name="itemsadded" list="List">
                        <datalist id="List">
                            <option value="Pending"></option>
                            <option value="Done"></option>
                        </datalist>
                    </div>
                </td>
                <td>
                    <h5>price</h5><input type="text" name="price" />
                </td>
                <td>
                    <h5>Quantity</h5><input type="text"name="quantity" />
                </td>

            </tr>

        </table>
        <table cellpadding="40">
            <tr>
                <td>
                    <input type="submit" name="submit" value="SUBMIT">


                </td>
                <td>
                    <input type="submit" name="viewGrid" value="VIEW GRIDVIEW">
                </td>
                <td>
                    <input type="submit" name="additem" value="ADD ITEM">
                </td>
            </tr>
        </table>

       
    </div>}
